
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    font-family: 'MedievalSharp';
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.proclamation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: brown;
    padding: 60px 0px 10px 0px;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Kiefer_Holz.JPG/1024px-Kiefer_Holz.JPG");
    background-color: lavenderblush;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

#hand-button {
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: white;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
}

label > img {
    padding: 10px;
}

input {
    display: none;
}

input:checked + img {
    border: solid 10px brown;
}

#opp-hand {
    font-size: 1.5rem;
    color: blue;
}
  
  /* @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  } */